{% extends 'base.html.twig' %}

{% block body %}
    {% if messages|length > 0 %}
        {% for message in messages %}
            <div>{{message}}</div>
        {% endfor %}
    {% else %}
        There's nothing here yet!
    {% endif %}
{% endblock %}
